.fixture {
    .match {
        flex-direction: column;
        padding: 0.1vw 0.1vw;
        width: 39%;
        min-width: 400px;
        padding: 0vw 2vw;
        border-width: 0.1vw;
        border-color: black;
        border-radius: 2vw;
        border-style: solid;
        margin: 1.5% 1%;
        box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.16),
            0 0 0 4px rgba(205, 25, 25, 0.08);
        .matchInfo {
            flex-direction: row;
            // flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .fixtureTeamLogo{
                height: 50%;
                max-height: 50px;
                width: auto;
                margin: 0px 1vw;
            }
        }
    }
    .match:hover {
        background: linear-gradient(90deg, #27bed5 0%, #5e1ad5 100%);
        flex-direction: column;
        padding: 0.1vw 0.1vw;
        width: 39%;
        padding: 0vw 2vw;
        border-width: 0.1vw;
        border-color: white;
        border-radius: 2vw;
        border-style: solid;
        margin: 1.5% 1%;
        cursor: pointer;
        .matchInfo {
            flex-direction: row;
            color: white;
            // flex: 1;
            display: flex;
            .fixtureTeamLogo{
                height: 50%;
                max-height: 50px;
                width: auto;
            }
        }
        .button {
            background-color: white; // theme.palette.primary.main
            color: rgb(7, 68, 173);
        }
        .referee {
            text-align: center;
            margin: 1vh 0vh 1.5vh 0vh;
            color: white;
        }
    }

    // @media (max-width: 500px){
    //     .match {
    //         display: none;
    //     }
    // }
    .referee {
        text-align: center;
        margin: 1vh 0vh 1.5vh 0vh;
    }

}
