ul {
    flex-direction: row;
    width: 100%; 
}

#navBar {
    position: absolute;
    top: 0px;
    height: 10vh;
    width: 100%;
    flex: 1;
    background-image: url("../../assets/1658206002704.jpeg");
}