.team{
    margin: 2vh 2vh;
    padding: 3vh 2.5vh;
    border-width: 0.1vw;
    width: 211px;
    height: auto;
    border-color: black;
    border-radius: 2vw;
    border-style: solid;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.team:hover{
    background: linear-gradient(90deg, #b91b1b 0%, #4136f1 100%);
    color: white;
    cursor: pointer;
}

.players{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2vh;
}

.player{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.teamDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}