.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.pageContainer {
    width: 70vw;
    height: auto;
    margin-top: 18vh;
    padding-left: 15vw;
    padding-right: 15vw;
    /* overflow: hidden; */
}

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Kanit-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "KanitItalic";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Kanit-Italic.ttf") format("truetype");
}

/* Usage */
.text {
    font-family: Kanit;
    font-style: normal;
}
.text-italic {
    font-family: KanitItalic;
    font-style: italic;
}

p {
    font-family: Kanit;
    font-style: normal;
}

h3 {
    font-family: Kanit;
    font-style: bold;
}

.wrapContainer {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
